<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.crm.dao.CustomerDao">
	
	<select id="selectForPage" resultType="customer">
		SELECT
				id,
				khno,
				`name`,
				area,
				cus_manager,
				LEVEL,
				myd,
				xyd,
				address,
				post_code,
				phone,
				fax,
				web_site,
				yyzzzch,
				fr,
				zczj,
				nyye,
				khyh,
				khzh,
				dsdjh,
				gsdjh,
				state,
				is_valid,
				create_date,
				update_date
			FROM
				t_customer
			<where>
				is_valid = 1 
				<if test="@Ognl@isNotEmpty(customerNo)"> 
					and khno like '%${customerNo}%'
				</if>
				<if test="@Ognl@isNotEmpty(customerName)">
					and NAME like '%${customerName}%'
				</if>
			</where>
			order by id desc
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into t_customer (
				khno,
				`name`,
				area,
				cus_manager,
				LEVEL,
				myd,
				xyd,
				address,
				post_code,
				phone,
				fax,
				web_site,
				yyzzzch,
				fr,
				zczj,
				nyye,
				khyh,
				khzh,
				dsdjh,
				gsdjh,
				state,
				is_valid,
				create_date,
				update_date
			) VALUES (
				#{khno},
				#{name},
				#{area},
				#{cusManager},
				#{level},
				#{myd},
				#{xyd},
				#{address},
				#{postCode},
				#{phone},
				#{fax},
				#{webSite},
				#{yyzzzch},
				#{fr},
				#{zczj},
				#{nyye},
				#{khyh},
				#{khzh},
				#{dsdjh},
				#{gsdjh},
				#{state},
				#{isValid},
				#{createDate},
				#{updateDate}
			)
	</insert>
	
	<update id="update">
		UPDATE t_customer SET
			`name`=#{name},
			area=#{area},
			cus_manager=#{cusManager},
			LEVEL=#{level},
			myd=#{myd},
			xyd=#{xyd},
			address=#{address},
			post_code=#{postCode},
			phone=#{phone},
			fax=#{fax},
			web_site=#{webSite},
			yyzzzch=#{yyzzzch},
			fr=#{fr},
			zczj=#{zczj},
			nyye=#{nyye},
			khyh=#{khyh},
			khzh=#{khzh},
			dsdjh=#{dsdjh},
			gsdjh=#{gsdjh},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<select id="findLossCustomer" resultType="customer">
		SELECT
			t.id, t.khno, t.cus_manager, t.`name`
		FROM
			t_customer t
		WHERE
			DATE_ADD(update_date, INTERVAL 6 MONTH) &lt;= NOW()
			AND state = 0 and is_valid = 1
			AND id NOT IN (
				SELECT
					cus_id
				FROM
					t_customer_order
			)
	</select>
	
	<select id="findLossCustomerNoOrderLongTime" resultType="customer">
		SELECT
			t.id, t.khno, t.cus_manager, t.`name`
		FROM
			t_customer t
		WHERE
			id IN (
				SELECT
					cus_id
				FROM
					t_customer_order
				WHERE
					DATE_ADD(order_date, INTERVAL 6 MONTH) &lt;= NOW()
				)
		and state = 0 and is_valid = 1
	</select>
	
	<select id="khgxReport" resultType="com.shsxt.crm.vo.CustomerGx">
		SELECT
			t1.id as id,
			t1.`name` as customerName,
			sum(t2.total_price) as totalAmount
		FROM
			t_customer t1
		LEFT JOIN t_customer_order t2 ON t1.id = t2.cus_id and t2.is_valid = 1
		<where>
			t1.is_valid = 1
			<if test="@Ognl@isNotEmpty(customerName)">
				and `name` LIKE '%${customerName}%' 
			</if>
		</where>
		GROUP BY t1.id
	</select>
	
	<select id="khgcReport" resultType="com.shsxt.crm.vo.CustomerGc">
		SELECT `level` as levelName, count(id) as amount FROM t_customer GROUP BY `level`
	</select>
</mapper>