<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.crm.dao.PermissionDao">

    <insert id="insertBatch">
        insert into t_permission (
        module_id, role_id, acl_value, create_date, update_date, is_valid
        ) values
        <foreach collection="permissions" item="permission" separator="," >
            (#{permission.moduleId}, #{permission.roleId}, #{permission.aclValue}, now(), now(), 1)
        </foreach>
    </insert>

    <update id="releaseModule">
        UPDATE t_permission SET is_valid=0  WHERE role_id=#{roleId} AND module_id=#{moduleId}
    </update>


<!--    <select id="findByRoleIdModuleId" resultType="Permission">
       SELECT module_id, role_id, acl_value, create_date, update_date, is_valid FROM t_permission
         WHERE   role_id= #{roleId} and module_id=#{moduleId}
    </select>-->







</mapper>

